log4j.configuration=file://${distribute.home}/config/distribute.log.properties
inventory.hibernate.config.file=${distribute.home}/config/hibernate.cfg.xml
distribute.output.base.path=${distribute.output.base.path}
distribute.exec.cmd=sh ${distribute.home}/bin/ascatInfo.sh  $gName $dsName ${distribute.home}/subscriber $gDir
sig.event.url=http://lanina.jpl.nasa.gov:8100/sigevent
execution.sig.category=NAIAD
distribute.sleep.minutes=${distribute.sleep.minutes}
#distribute.subscriber.class=gov.nasa.podaac.distribute.subscriber.plugins.BasicSubscriber
distribute.subscriber.class=gov.nasa.podaac.distribute.subscriber.plugins.IWSSubscriber
distribute.data.retriever.class=gov.nasa.podaac.distribute.subscriber.plugins.BasicDataRetriever
distribute.schemas=${distribute.home}/config/schemas
distribute.granule.file.size=100

inventory.host=https://localhost
inventory.port=9192

distribute.data.location=${distribute.data.location}
